@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.bg-primary {
  background-color: rgb(8, 106, 216);
}
.text-primary {
  color: rgb(9, 78, 156);
}

.bg-image {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5;
}
.bg-image::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  background-color: rgba(34, 34, 58, 0.329);
  z-index: -1;
}

.our-services {
  background-image: linear-gradient(#090909a2, #090909ab),
    url(../public/image/services/bg-pattern1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.card-bg {
  background: linear-gradient(
    135deg,
    rgba(var(--theme-color2-rgb), 0) 0%,
    rgba(var(--theme-color2-rgb), 0.65) 65%,
    var(--theme-color1) 100%
  );
  transition: all 300ms linear;
}

.signal {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 3px solid #3498db;
  border-radius: 50%;
  position: relative;
  animation: signal-animation 1s infinite;
}

.partnersBackground {
  background-color: #090909;
}
.projectBackground {
  background-image: linear-gradient(to right, #090909, rgb(22, 22, 22));
}
@keyframes signal-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.cases:hover .cases-image {
  transform: scale(1);
}







.translateX-hover{
  transform: translateX(0);
  transition-duration: .3s;
}

.translateX-hover:hover{
  transform: translateX(5px)
}
.translateY-hover{
  transform: translateY(0);
  transition-duration: .3s;
}

.translateY-hover:hover{
  transform: translateY(-5px)
}